

//=====================================================================
// TEST MSG
//=====================================================================
if data.messageId == 'test'
	#bill
		h1 test messgae-----

//=====================================================================
// TEST MSG
//=====================================================================
if data.messageId == 'sms_nolog'

	div(class="" data-position-to="window" class="ui-overlay-shadow" style="")
		center(style="height:80%;overflow-y: auto")
			h6 No Messages in log for #{data.name}
			img(src="#{data.imageUrl}" class="magicSquare" style="height:150px;")




