
//=================================================================================================================================================================================
//-)--> PAGE 2---------------------------------------------------------------------------------------------------------------------------------------------------------------------
//=================================================================================================================================================================================
div(class="ui-grid-c" style="")
	//@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SubGrid A @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	//CONTACT LIST VIEW
	div(id="userFormContactsList" data-role="" class="ui-block-a" style="padding-top: 0px; padding-bottom: 0px; direction: rtl; text-align: left; width:25%")
		//div(id="contactsWindow2" data-role="main"  class="ui-overlay-shadow ui-shadow" style="padding-top: 25px;width:95%; ")
		//div( id="contactsMenu_col" data-role="collapsible" data-collapsed="false" class="ui-overlay-shadow ui-shadow")
		//h3 Contact List
		div(class="ui-content" data-position-to="window" style="width:90%; ")
			a(href="#contactPanel_0" data-ajax="false" style="")
			ul(data-role="listview" id="contactsMenu" class=""   data-inset="true" style="width:100%; ")
			//- div(class="" data-position-to="window" class="" style="direction: ltr;height:90%; width:90%")
			//- 	a(href="#contactPanel_0" data-ajax="false" style="")
			//- 	ul(data-role="listview" id="contactsMenu" class=""   data-inset="false" style="width:100%; overflow-x:none;overflow-y: scroll")

	//@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SubGrid B @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	//all tabs here
	div(class="ui-block-b ui-content" style="width:75%;")
		//=======================================
		//
		//=======================================
		div(data-role="tabs" id="tabs" style="padding: 0px 0px 0px 0px !important;")
			div(data-role="navbar")
				ul
					li
						a(href="#tab_editContact" data-ajax="false") Edit Contact
					li
						a(href="#tab_import" data-ajax="false") Import
					li
						a(href="#tab_export" data-ajax="false") Export

			//@@@@@@  TAB ---EDIT CONTACT----------------------------------------------
			div(id="tab_editContact" class="" style="overflow: auto; ")

			//@@@@@@  TAB ---IMPORT CONTACT--------------------------------------------
			div(id="tab_import" class="" style="")

			//@@@@@@  TAB ---EXPORT CONTACT--------------------------------------------
			div(id="tab_export" class="")



	//@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SubGrid B @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	div(class="ui-block-c" style="width:0%") 
	//@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SubGrid B @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	div(class="ui-block-d" style="width:0%")




script.
	//======================================================================
	//>--- GLOBAL DECLARE SECTION-------------------------------------------
	//======================================================================
	var contactManagerObject;
	//======================================================================
	//>--- CONTACT MANAGER PAGE EVENTS--------------------------------------
	//======================================================================

	$( "#pg_page_2").on( "pageshow", function( event, ui ){
		console.log('PAGE SHOW--------------------------ContactManager');
	});
	$( "#pg_page_2").on( "pagecreate", function( event, ui ){
		console.log('PAGE CREATE---------------------------ContactManager');
		contactManagerObject = new ContactManagerObject();
		contactManagerObject.load();
	});


	var ContactManagerObject = function(){
		var _this = this;


		this.load = function(){
			console.log('DOCUMENT READY IN ARFSYNC.JQM.JADE');
			//s
			$('#contactsMenu').ContactListView('create', 
				{
					test:'hopperTestrVal55',
					useCheckbox:false,
					autoScrollOnSelect:true,
					onClick:function(inContactId, inData, inElementId){
						// CSS Last Selected------>
						$( '.trans-bkg-a-hv' ).removeClass( 'lastSelected' )
						$( '#' + inElementId + ' a').addClass( 'lastSelected' );

						//DATA BINDER CALL ----->
						//$('#contactsWindow').DataBinderObject('load', inData);
						eventObject.reportOn('contactMenu_itemClick', inData);
					},
					onLongClick:function(inContactId, inData, inElementId){
						eventObject.reportOn('contactMenu_onLongClick', inData);
					}
				}
			);
			$('#contactsMenu').ContactListView('loadData');
			//$('#contactsWindow2').trigger('refresh');
			$('[data-role="content]').trigger('create');

			//=========================================================
			// REMOTE MENU EVENTS-(inward)-----------------------------
			//=========================================================
			eventObject.setOn('contactSliderSelected', function(inData){
				console.dir(inData);
				console.log('name(frm phone):' + inData.name);
				$('#contactsMenu').ContactListView('setSelectedByNameAndType', inData);
			});
			setHeight();
		}
	}

