head
	meta(charset="UTF-8")
	meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title() arfSync
body
	form(action="/upload", method="post", enctype="multipart/form-data" style="display: none;")
		input(id="upload" type="file" name="uploadedFile" style="display: none;" onchange="console.log('changed!!!')")

	div(id="contactsWindow" data-role="main"  class="ui-content" style="")
		form(method="post" id="userForm" data-mini="true" style="")
			div(class="ui-field-contain" style="" )
				input(type="hidden"  id="contactEdit_id" name="id")
				div(class="ui-grid-a" style="")
					div(class="ui-block-a" style="width:25%")
						center(style="height:150px;")
							//h6 (click to change)
							img(id="contactEdit_image" name="uImg" class="magicSquarePnt contactAddImage" src="/public/images/contacts/default.jpg" style="height:100px;" )
							h5 Click Image To Change 

					div(class="ui-block-b" style="width:75%;")
						#contactEdit_type
						input(tabindex="1" type="text" 	id="contactEdit_name" 	data-mini="true" name="name" placeholder="Full Name..." style="background-color: transparent !important;")
						input(tabindex="3" type="email" id="contactEdit_emailAddress" 	data-mini="true" name="emailAddress" placeholder="Email Address...")



				div(class="ui-grid-a" style="")
					div(class="ui-block-a" style="width:70%")
						input(tabindex="2" type="tel" 	id="contactEdit_phoneNumber" 	data-mini="true" name="phoneNumber" placeholder="Phone Number...")
					div(class="ui-block-b" style="width:30%")
						input(tabindex="8" type="text" 	id="contactEdit_ext" 			data-mini="true" name="ext" 		placeholder="Extension...")

				input(tabindex="4" type="text"  id="contactEdit_companyName" 	data-mini="true" name="companyName" placeholder="Company Name...")
				input(tabindex="5" type="text" 	id="contactEdit_department" 	data-mini="true" name="department" 	placeholder="Department...")
				input(tabindex="6" type="text" 	id="contactEdit_title" 			data-mini="true" name="title" 		placeholder="title...")
				input(tabindex="7" type="text" 	id="contactEdit_ref" 			data-mini="true" name="ref" 		placeholder="Reference Number...")


				input(data-icon="action" id="bt_contactEdit_save" 	data-mini="true" type="button" value="Save")
				input(data-icon="back" id="bt_contactEdit_cancel" 	data-mini="true" type="button" value="Cancel")




script.
	//=========================================================
	// JQM EXTENSION HorizontalRadioGroup
	//=========================================================
	$('#contactEdit_type').HorizontalRadioGroup('create',
		{
			id:'radioGrp_0',
			class:'',
			dataTheme:'a',
			dataType:'horizontal',
			legend:'',
			radioArray:
				[
					{
						caption:'MOBILE',
						value:'on',
						checked:true
					},
					{
						caption:'HOME',
						value:'other',
						checked:false
					},
					{
						caption:'WORK',
						value:'other',
						checked:false
					},
					{
						caption:'OTHER',
						value:'off',
						checked:false
					},

				],
			onSelect:function(inCaption){
				//alert(inCaption);
			}
		}
	);

	$('#contactEdit_type').HorizontalRadioGroup('load');

	//===============================
	// CHANGE IMAGE
	//===============================

	$('#upload').trigger('click');
	$('#contactEdit_image').click(function(){
		$('#upload').trigger('click');
	});
	$('#upload').change(function(){
		$ajaxFilePost(
			{
				fileInputElement:'upload',

				options:
					{
						command:'imageStore',
						theme:'normalUserImage'
					},

				onComplete:function(inResponse){
					if(inResponse.domainFilePath){
						$('#contactEdit_image').attr('src', inResponse.domainFilePath);
					}
				}
			}
		);
	});

	//$(document).on("pageshow","#pg_page_2",function(){
	//});


	//=====================================================================================================================
	//FORM DATA BINDER -----------------------
	//=====================================================================================================================
	$('#contactsWindow').DataBinderObject('create',
		{
			loadProcess:function(inData){
				var params = 
					{
						id:false,
						type:false,
						imageUrl:false,
						name:false,
						emailAddress:false,
						phoneNumber:false,
						ext:false,
						companyName:false,
						department:false,
						title:false,
						refNumber:false,
					}
				params = $.extend(params, inData);

				$('#contactEdit_id').val(params.id);
				$('#contactEdit_type').HorizontalRadioGroup('setSelected', params.type.replace('[', '').replace(']', ''));
				$('#contactEdit_image').attr('src', params.imageUrl);
				$('#contactEdit_name').val(params.name);
				$('#contactEdit_emailAddress').val(params.emailAddress);
				$('#contactEdit_phoneNumber').val(params.phoneNumber).formatPhoneNumber();
				$('#contactEdit_ext').val(params.ext);
				$('#contactEdit_companyName').val(params.companyName);
				$('#contactEdit_department').val(params.department);
				$('#contactEdit_title').val(params.title);
				$('#contactEdit_ref').val(params.refNumber);

			},
			serializeProcess:function(){
				var data = 
					{
						id:$('#contactEdit_id').val(),
						type:'[' + $('#contactEdit_type').HorizontalRadioGroup('getSelected') + ']',
						imageUrl:$('#contactEdit_image').attr('src'),
						name:$('#contactEdit_name').val(),
						emailAddress:$('#contactEdit_emailAddress').val(),
						phoneNumber:$('#contactEdit_phoneNumber').getCleanPhoneNumber(),
						ext:$('#contactEdit_ext').val(),
						companyName:$('#contactEdit_companyName').val(),
						department:$('#contactEdit_department').val(),
						title:$('#contactEdit_title').val(),
						refNumber:$('#contactEdit_ref').val(),
					}
				return data;
			},
			clearProcess:function(){
				$('#contactEdit_id').val('');
				$('#contactEdit_type').HorizontalRadioGroup('setSelected', 0);
				$('#contactEdit_image').attr('src',getDefaultMemberImageUrl());
				$('#contactEdit_name').val('');
				$('#contactEdit_emailAddress').val('');
				$('#contactEdit_phoneNumber').val('');
				$('#contactEdit_ext').val(''),
				$('#contactEdit_companyName').val('');
				$('#contactEdit_department').val('');
				$('#contactEdit_title').val('');
				$('#contactEdit_ref').val('');
				return true;
			},
			saveProcess:function(inSerializedData, inSaveParams, next){
				$postAjax(
					{
						url:'/database/editContact',
						send:inSerializedData,
						onAjaxSuccess:function(inResponseText){
							inResponseText = JSON.parse(inResponseText);
							next(inResponseText);
						}
					}
				);
				return true;
			},
			onSave:function(inData){
				alert('Data Saved' + JSON.stringify(inData));
			},
			whenDirtyTransition:function(inData){

			}

		}
	);//end binder------------


	$('#btBar_contactManager_back3').click(function(){
		//$('#contactsWindow').DataBinderObject('clear');
		//$('#contactsWindow').DynamicPopup();
		$.DynamicPopupYesNo(
			{
				message:'You have unsaved data. Would you like to save it before proceeding?',
				subMessage:'My SubMessage',
				yesCaption:'YES',
				noCaption:'NO',
				onYes:function(){alert('YES');},
				onNo:function(){alert('NO');},
			}
		);
	});

	$('#btBar_contactManager_back4').click(function(){
		$('#contactsWindow').DataBinderObject('setDirtyMark');
	});

	$('#btBar_contactManager_back5').click(function(){
		console.log('isDirty :' + $('#contactsWindow').DataBinderObject('save'));
	});