
//script(type='text/javascript', src='/js/jquery/jquery-2.0.3.min.js')

body
	#menu
		h1 Android Setup and Installation
		h4 Please load this page with your Android Phone and then click the link below.
		a(href="public/download/androidapp/demo.apk") Download Android App


























script.
	/*$.get("resume/test.php", function(data){
		$("#menu").html(data);
	});*/