doctype html
html
	head(lang="en")
		title Account
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")


		link(rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
		script(src="https://code.jquery.com/jquery-1.11.1.min.js")
		script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
		script(src="/public/js/jquery/hopper/jquery.hopper.extention.js")




		script(type='text/javascript', src='/public/js/easyui/jquery.easyui.min.js')
		link(rel='stylesheet', href='/public/js/easyui/themes/default/easyui.css')
		link(rel='stylesheet', href='/public/js/easyui/themes/default/icon.css')

		script(type='text/javascript', src='/public/js/phoneformat/phoneformat.js')
		script(type='text/javascript', src='/js/clientutil/clientutil.js')

		//arfsync.jqm   CSS ---------
		link(rel="stylesheet" href="/public/css/arfsync.jqm/arfsync.jqm.css")

		body(style="")




			#testDiv
			#smsPopupIncoming(data-dialog="false" style="position:relative;" class="")
			//   /upload
			form(action="/upload/contact/image", method="post", enctype="multipart/form-data")
				input(id="upload" type="file" name="uploadedFile" style="display: none;" onchange="console.log('changed!!!')")

			div(id="page_userForm" data-role="page" data-dialog="false" data-theme="b" style="" class=".center-me")


				div(id="contactsWindow" data-role="main"  class="ui-content" style="")

					form(method="post" id="userForm")
						div(class="ui-field-contain")
							//input(tabindex="1" type="text" id="widget_userForm_firstName" 	name="fname" 		placeholder="First Name...")
							//input(tabindex="2" type="text" id="widget_userForm_lastName" 	name="lName" 		placeholder="Last Name...")




							br
							br
							br
							br
							br
							br
							br
							br
							br

							input(data-icon="action" id="addEditUser_save" 	type="button" value="Save")
							input(data-icon="back" id="addEditUser_clear" 	type="button" value="Cancel")

			div(id="page_userForm2" data-role="page" data-dialog="true" data-theme="b" style="" class=".center-me")
			#xxxxx
				//input(data-icon="action" id="bt_login_postMail" 	type="button" value="Login" style="")

			script.
				//@@--> JQUERY . CENTER @@@@@@@@@@@@@@@@@@@@@@@@@@@@
				jQuery.fn.center = function () {
					this.css("position","absolute");
					this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + 
					$(window).scrollTop()) + "px");
					this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + 
					$(window).scrollLeft()) + "px");
					return this;
				}
				var renderData = !{JSON.stringify(body)}

				console.log('renderData');
				console.dir(renderData);



				var Widget_userFormScript;
				$(document).ready(function(){


					Widget_userFormScript = new function(){
						var _this = this;

						this.load = function(){

							//==============================================
							// EVENT SETUP
							//==============================================
							$('#addEditUser_save').click(function(){

								var ttt = [1,2,3,4,3,2,2];

								//$.debug('getUnique', $.getDuplicates(ttt));
								$.debug('object.keys', Object.keys(ttt));
								$.debug('myVer', $.getKeys(ttt));


								var t = 
									{
										544:'Billy'
									}
								console.dir(t);

								var y ={}
								y[888] = 'ssss'
								console.dir(y);
								console.dir(Object.keys(y));





							});


							$('#addEditUser_clear').click(function(){
								doIncomingSms(
									{
										name:'ddddd name 1',
										phoneNumber:'12563538951',
										message:'my new message',
										imageUrl:'/public/images/contacts/c97ce050-b399-11e4-a92e-138f9d3e8597.jpg',
									}
								);
							});


						}//end of load



						_this.load();

					}();

				});


				var doIncomingSms = function(inJstruct){
					if( typeof IncomingSmsObject === "undefined" ){
						$postAjax(
							{
								url:'/jqm/message',
								send:
									{
										messageId:'incoming_sms',
									},
								onAjaxSuccess:function(inResult){
									$('#smsPopupIncoming').html(inResult);
									IncomingSmsObject.load();
									IncomingSmsObject.show(
										{
											speed:500,
											duration:10000,
											name:inJstruct.name,
											phoneNumber:inJstruct.phoneNumber,
											message:inJstruct.message,
											imageUrl:inJstruct.imageUrl,
											messageMaxCharLength:20,
											onTimeout:function(){
												IncomingSmsObject.hide(
													{
														speed:'slow',
														onFinished:function(){
														}
													}
												);

											}
										}
									);
								}
							}
						);

						return;
					}else{
						IncomingSmsObject.show(
							{
								speed:500,
								duration:10000,
								name:inJstruct.name,
								phoneNumber:inJstruct.phoneNumber,
								message:inJstruct.message,
								imageUrl:inJstruct.imageUrl,
								messageMaxCharLength:20,
								onTimeout:function(){
									IncomingSmsObject.hide(
										{
											speed:'slow',
											onFinished:function(){
											}
										}
									);

								}
							}
						);
					}
				}



